{% extends 'layouts/layout.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">PlaceWork!</h1>
    <p class="lead">Recuperação de senha</p>
    <hr class="my-4" />

    <p>Digite o E-mail cadastrado para geração de código de validação</p>

    <form class="{% url 'register' %}" method="post">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
            <p class="lead {% if message.tags %}text-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
        
          {% for field in form.visible_fields %}
          <div class="form-group">
              {% for error in field.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}

              <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
              {{ field }}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
          </div>
          {% endfor %}
        
        <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
    </form>
  

    <p class="link">
      Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a>
    </p>

    <p class="link">
      <a href="{% url 'home' %}">Voltar para a página inicial</a>
    </p>
  </div>
{% endblock %}

