{% extends 'layouts/layout.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Olá, Bem vindo ao PlaceWork!</h1>
    <p class="lead">Preencha o formulário para se cadastrar em nosso sistema.</p>
    <hr class="my-4" />

    <form class="user-form" method="post">
      {% csrf_token %}
      
      {% if messages %}
          {% for message in messages %}
          <p class="lead {% if message.tags %}text-{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
      {% endif %}

      {% for error in form.non_field_errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}

      {% for error in profile_form.non_field_errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}

      {% for error in address_form.non_field_errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
      <div class="row">
          
          <div class="col-md-5">
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Email</label>
                {{ form.username }}
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-group">
                  <label for="{{ form.password.id_for_label }}">Senha</label>
                  {{ form.password }}
              </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
                <label for="{{ profile_form.account_type.id_for_label }}">Tipo de conta</label>
                {{ profile_form.account_type }}
            </div>
          </div>
      </div>
      


        <fieldset class="row" id="fieldset-pj" disabled='disabled' >

      
          <div class="col-md-6">
            <div class="form-group">
                <label for="{{ profile_form.company_name.id_for_label }}">Razão social</label>
                {{ profile_form.company_name }}
            </div>
          </div>

          {% for field in profile_form %}
            <div class="form-group">
              {% for error in field.errors %}
                <p class="text-danger">{{ message }}</p>
              {% endfor %}
            </div>
          {% endfor %}

          <div class="col-md-6">
            <div class="form-group">
                <label for="{{ profile_form.cnpj.id_for_label }}">CNPJ</label>
                {{ profile_form.cnpj }}
            </div>
          </div>

        </fieldset>

        <fieldset class="row" id="fieldset-pf">

        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Nome</label>
                {{ form.name }}
            </div>
          </div>

          <div class="col-md-6">
              <div class="form-group">
                  <label for="{{ profile_form.cpf.id_for_label }}">CPF</label>
                  {{ profile_form.cpf }}
              </div>
          </div>

        </fieldset>

    <fieldset class="form-group">
      <legend>Endereço <span id="infoAddress">Principal</span></legend>
      <small id="passwordHelpInline" class="text-muted">
        Como empresa você poderá adicionar mais endereços posteriormente
      </small>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
              <label for="{{ address_form.zip_code.id_for_label }}">CEP</label>
              {{ address_form.zip_code }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="{{ address_form.street.id_for_label }}">Rua</label>
              {{ address_form.street }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <label for="{{ address_form.number.id_for_label }}">Número</label>
              {{ address_form.number }}
          </div>
        </div>
      </div>
        
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="{{ address_form.complement.id_for_label }}">Complemento</label>
            {{ address_form.complement }}
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
              <label for="{{ address_form.neighborhood.id_for_label }}">Bairro</label>
              {{ address_form.neighborhood }}
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
              <label for="{{ address_form.city.id_for_label }}">Cidade</label>
              {{ address_form.city }}
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="{{ address_form.state.id_for_label }}">Estado</label>
            {{ address_form.state }}
          </div>
        </div>
      </div>

    </fieldset>
    </div>
      
      <button class="btn btn-primary btn-lg" type="submit">Registrar</button>
  </form>
  

    <p class="link">
      Já tem uma conta? <a href="{% url 'login' %}">Entre aqui</a>
    </p>

    <p class="link">
      <a href="{% url 'home' %}">Voltar para a página inicial</a>
    </p>
  </div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/inputmask"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    Inputmask("999.999.999-99").mask(document.getElementById('id_cpf'));
    Inputmask("99.999.999/9999-99").mask(document.getElementById('id_cnpj'));
    Inputmask("99999-999").mask(document.getElementById('id_zip_code'));
});
</script>
{% endblock %}
